@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Oxygen:wght@300&display=swap');
body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    white-space: normal;
    color: #333;
    line-height: 20px;
    font-size: 14px;
    /* max-width: 60%; */
}

.heading {
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  line-height: 60.77px;
  font-weight: 500;
  letter-spacing: -5px;
  text-align: left;
  color: #303030;
}

a {
  text-decoration: none;
  color: #7aafff;
}

/* .website-logo {
  max-width: 35%;
  max-height: auto;
  } */
/* 
.titleLine {
  width: 150px;
  height: auto;
  border-width: 10px;
  
  color: black;
} */

/* .subheading {
  font-size: 20px;
  text-align: left;
  margin-top: -25px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
} */


.hr {
  opacity: 100%;
  width: 20%;
  margin: 180px auto 90px auto;
}

.backgroundBox {
  border-radius: 10px;
  border-width: 2px;
  height: 200px;
  background-color: #f3be00;
  border-style: solid;
  color: rgb(224, 224, 224);
}

/* .hrVertical {
  border-left: 6px dotted grey;
  height: 50px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
  margin-top: 10px;
  border-right: none;
  border-top: none;
  border-bottom: none;
} */


.titleSocials {
  font-size: 13px;
  margin-bottom: -25px;
  font-family: 'Lato', sans-serif;
  color: rgb(93, 116, 124);
  font-weight: 800;
  opacity: 100;
}

.socials a:hover {
  opacity: .3;
  transition: .5s ease;
}

.socials {
  font-size: 17px;
  margin-top: 30px;
  background-color: rgba(17, 0, 255, 0.014);
  border-radius: 10px;
  float: right;
  text-align: left;
  font-weight: 400;
  padding: 0 15px 15px 20px;
  max-width: 150px;
  width: 300px;
  opacity: 100;
  line-height: 30px;
  position: relative;
}

.titleBody {
  font-size: 24px;
  text-align: left;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 150x;
  padding-right: 250px;
}

header {
  text-align: center;
}

/* .heading p {
  float: right; text-align: right; padding-top: 3.7px; color: #5d75ff;
} */

.container {
  max-width: 890px;
  margin: 60px auto auto auto; 
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}


/* .title-line {
    /* border-width: 2px; 
    max-width: 100px;
    float: left;
    height: 13px;
    position: static;
    padding-left: 140px;
    padding-top: 0px;
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(34%, #38e395), color-stop(68%, #5d75ff));
    background-image: linear-gradient(90deg, #5d75ff 27%, #38e395 68%);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    line-height: px;
    background-clip: border-box;
}  */
/* 
.present {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: -5px;
  padding-top: 20px;
  padding-left: 10px;
  float: left;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 23px;
} */

.presentdiv2 {
  margin-top: -40px;
}

/* .hr {
  color: rgb(165, 165, 165);
  border-width: 20px;
  border-radius: 10px;
  border: dotted;
  width: 100%;
  rotate: (45deg);
  margin-top: 100px;
} */

.experiences {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  margin-left: 100px;
  padding-top: 100px;
  font-weight: 500;
  color: #333;
}
/* #arrowdown {
  font-size: 50px;
  color: #333;
  opacity: 80%;
  text-align: center;
  margin-top: -10px;
  margin-left: 445px;
} */
/*TEXT BOXES WITHIN THE STUDENT SECTION*/
.p1 {
  padding: 18px;
  margin-top: -10px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  background-color: #333;
  opacity: 95%;
  color: #fff;
}

.p2 {
  padding: 18px;
  margin-top: -20px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  background-color: #333;
  opacity: 95%;
  color: #fff;
}

.p3 {
  position: absolute;
  margin-top: 40.5px;
  margin-right: 500px;
  padding: 10px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #444144;
  color: #fff;
  width: 358px;
  opacity: 90%;
}

.spring {
  margin-top: -319px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 0px;
  padding-left: 5px;
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.portfolio {
  font-size: 21px;
  color: #3fcfa2;
  margin-top: -50px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 40px;
  width: 100%;
  padding-top: 50px;
}

.portfolioTitle {
  margin-top: 20px;
  color: #54dfb3;
  font-size: 23px;
  font-weight: 600;
  padding-left: 10px;
}

.aboutMe {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  margin-left: 100px;
  padding-top: 100px;
  font-weight: 500;
  color: #333;
}

/* .skills {
  font-size: 22px;
  font-weight: 500;
  font-family: Arial, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 100px;
  padding-top: 30px;

} */

/* 
.presentdiv {
  max-width: 100%;
  max-height: 119px;
  min-height: 5px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgba(93, 117, 255, .44);
} */

.presentdiv3 {
  position: static; 
}

/* footer {
  text-align: center;
  color: #333;
  opacity: 40%;
  margin-bottom: 50px;
} */

/* .paragraph {
  width: 20%;
  padding: 130px 0px 130px 65px;
  margin-left: 10px;
  float: left;
  border-style: soli;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
  background-color: hsla(0, 0%, 88%, .84);
  opacity: 1;
  height: 70px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  font-size: 16px;
  line-height: 50px;
  cursor: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph:hover {
  box-shadow: 0 0 10px 1px #707070;
  -webkit-filter: none;
  filter: none;
} */

.text1 {
  margin-top: 54px;
  margin-bottom: 5px;
  margin-left: -5px;
  padding-top: 0px;
  padding-left: 10px;
  float: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.text2 {
  margin-top: 58px;
  margin-right: -160px;
  margin-left: 0px;
  padding-left: 0px;
  float: right;
  font-size: 16px;
  color: #f3be00;
}

.text3 {
  margin-top: -295px;
  margin-left: 15px;
  float: left;
}

.image {
  max-width: 20%;
  margin: 40px 30px 0px 0px;
  padding-bottom: 0px;
  float: right;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(8, 45, 255, .15);
  border-radius: 20px;
}

/* .grid-item-text {
  box-sizing: content-box;
display: block;
float: none;
line-height: 30.4px;
position: static;
z-index: 10;
} */


.image1 {
  /* left: -100px;  */
  /* opacity: 1;
  display: block;
  transform: .3s ease;
  border-radius: 20px; */

  /* max-width: 20%;
  border-color: black;
  border-width: 10px;
  border-style: solid; */
}

.image1:hover {

}

.image2 {
  width: 20%;
  height: auto;
  border-radius: 20px;

  position: relative; 
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .8s ease;
  backface-visibility: hidden;
}
.textImage {
  float: left;
  color: #BE6FFB;
}

/* .image1:hover {
  opacity: 20%;
}
.image2:hover {
  opacity: 20%;
} */

.experience {
  margin-top: 700px;
  padding-left: 10px;
}


/******************************************/
.links {
  font-size: 19px;
  list-style-type: none;
  color: #333;
  margin: -80px;
  position: relative;
  max-width: 110%;
}

.blogOp:hover {
  opacity: 50%;
  transition: .5s ease;
}

.portfolioOp:hover {
  opacity: 50%;
  transition: .5s ease;
}

section {
  margin-left: auto;
  margin-right: auto;
}

/******************************************/
@media screen and (max-width: 479px) {
  .container {
    padding: 10px;
  }
  
  .socialText1 {
    display: none;
  }
 
  .socialText2 {
    display: none;
  }
  
  .image1{
    margin-top: -50px;
  }
  .image2 {
    margin-top: -50px;
  }

  /* .heading {
    font-size: 69px;
    margin-left: 20px;
  } */
 /* .links {
   padding-top: 50px;
 }
  .aboutMe {
    float:left
    }
    
    .p1 {
      float: left;
    }

    .p2 {
      float: left;
    }
    .presentdiv1 {
      margin-bottom: -100px;
    }
    .presentdiv2 {
      margin-top: -100px;
    } */

  /* .presentdiv {
    position: staic;
    display: block;
    width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    grid-auto-columns: 1fr; 
    -ms-grid-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: left; 
    -o-object-fit: fill;
    object-fit: fill;
  } */


  .image {
    max-width: 150%;
    margin-top: 25px;
    margin-left: 40px;
    float: none;
    text-align: left;
  }
  .text-block-4 {
    margin-top: -5px;
    margin-left: 10px; 
    padding-right: 10px;
    float: left;
  }
  /* .socials {
    float: left;
    padding-left: 10px;
    padding-top: 30px;
    margin-left: 20px;
  } */
}

@media screen and (min-width: 375px) and (max-width: 812px) {
.container {
}

.heading {
  font-size: 60px;
}
.socialTitle1 {
  /* font-size: 23px;
  padding-bottom: 20px; */
  display: none;
}
.socialText1 {
  display: none;
}

.socialTitle2 {
  /* font-size: 23px;
  padding-bottom: 20px; */
  display: none;
}
.socialText2 {
  display: none;
}

.hr {
  opacity: 100%;
  max-width: 20%;
  margin: 135px auto 90px auto;
  position: relative;
}

.image1{
  margin-top: -50px;
}
.image2 {
  margin-top: -50px;
}

.links {
  float: left;
  margin-left: -35px;
}
.heading {
  margin-bottom: 100px;
}
.p1 {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.aboutMe {
  text-align: left;
  margin-left: 25px;
}
.experiences {
  text-align: left;
  margin-left: 25px;
}
.p2 {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.heading {
  margin-right: 5px;
}
.socials {
  position: relative;
  padding-left: 20px;
  width: 30%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {


  /* footer {
    text-align: center;
    color: #333;
    opacity: 40%;
    margin-top: 300px;
  } */
  /* .socials {
    letter-spacing: 10px;
    float: right;
  } */
  /* .links {
    position: relative;
    margin-right: 200px;
  } */
} 

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  /* footer {
    text-align: center;
    color: #333;
    opacity: 40%;
    margin-top: 520px;
  } */
  /* .socials {
    padding-top: 30px;
  } */
}