@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Oxygen:wght@300&display=swap');

.project1:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all .9s ease;
}

.project2:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all .9s ease;
}

/* .project3:hover {
    -webkit-filter: brightness(85%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all .9s ease;
} */

.openProject1 {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 20px 23px;
    background-color: #483dc2;
    color: #fff;
    font-size: 16px;
    opacity: 100% !important;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: 'Lato', sans-serif;
}

.project1:hover .openProject1 {
    transform: scaleY(1) translateZ(0);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 100% !important;
}

.openProject2 {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 20px 23px;
    background-color: #061733;
    color: #fff;
    font-size: 16px;
    opacity: 100% !important;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: 'Lato', sans-serif;
}

.project2:hover .openProject2 {
    transform: scaleY(1) translateZ(0);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 100% !important;
}
/* .hr1 {
    max-width: 4.5%;
    margin-top: 30px;
    color: white;
}
.hr2 {
    max-width: 10%;
    margin-top: 30px;
    color: white;
}
.hr3 {
    max-width: 10%;
    margin-top: 30px;
    color: black;
} */

.linkd-logo {
    width: 100%;
    height: 200px;
    text-align: center;
    margin: auto auto auto auto;
}

.magnifyIcon {
    height: 44px;
    width: 44px;
    margin: 0 auto 15px;
    }

/* .globalIcon {
    height: 44px;
    width: 44px;
    margin: 0 auto 15px;
    } */

.project1 {
        /* font-size: 90px;
        letter-spacing: -1px;
        font-weight: 700;
        font-family: Poppins, sans-serif;
        color: #333333;
        position: absolute;
        margin-top: 120px;
        top: 200px; 
        width: 100%;  */
    flex: 1 50%;
    padding: 60px 50px 80px 50px;
    height: 430px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-size: 28px;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
    color: rgb(221, 244, 255);
    width: 50%;
    font-family: 'Lato', sans-serif;
    margin-bottom: -10px;
    float: left;
}


.project2 {
    /* font-size: 90px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: #333333;
    position: absolute;
    margin-top: 120px;
    top: 200px; 
    width: 100%;  */
    flex: 1 50%;
    padding: 60px 50px 80px 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    letter-spacing: -.2px;
    font-size: 28px;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    width: 50%;
    float: right;
    height: 430px;
}

.socialText1 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: content-box;
    display: block;
    float: none;
    height: auto;
    width: 100%;
    line-height: 30px;
    position: static;
    z-index: 10;
    justify-content: center;
    text-align: center;
    margin: 15px auto auto auto;
}

.socialText2 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 0;
    box-sizing: content-box;
    display: block;
    float: none;
    height: auto;
    width: 100%;
    line-height: 30px;
    position: static;
    z-index: 10;
    justify-content: center;
}

/* .project3 {
    font-size: 90px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: #333333;
    position: absolute;
    margin-top: 120px;
    top: 200px; 
    width: 100%; 
    flex: 1 50%;
    padding: 30px 50px 60px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    letter-spacing: -.2px;
    font-size: 28px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: Poppins, sans-serif;
    width: 50%;
    float: right;
    height: 450px;
    opacity: 80%;
} */

/* .grid-item-header {
    font-size: 46px;
line-height: 1.3em;
margin: 60px auto 0.65em;
    margin-right: auto;
    margin-left: auto;
transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
transform: translateZ(0);
font-weight: 800;
margin-left: auto;
margin-right: auto;
position: relative;
max-width: 680px;
z-index: 10;
letter-spacing: -0.3px;
} */


/* 
.socialText3 {
    font-size: 15px;
    font-family: Poppins, sans-serif;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 0;
    box-sizing: content-box;
    display: block;
    float: none;
    height: auto;
    width: 100%;
    line-height: 30px;
    position: static;
    z-index: 10;
    justify-content: center;
} */

@media screen and (min-width: 375px) and (max-width: 767px) {
   .container {
       text-align: center;
       margin: 20px
   }
    .project1 {
    width: 100%;
    }   

    .project2 {
    width: 100%;
    text-align: center;
    position: relative;
    }
    /* .project3 {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
    }    */

.tetherIcon {
    width: 50px;
    height: auto;
    }
.magnifyIcon {
    width: 50px;
    height: auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .project1 {
        position: relative;
    }
    .project2 {
        position: relative;
    }
}
