@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

.sectionTitle {
    font-family: Poppins, sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.06em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.5em;
    pointer-events: none;
    margin-top: 180px;
    flex: 1 100%;
    }
/* .work-hr1 {
    width: 4.5%;
    margin-top: 20px;
    color: black;
    text-align: left;
} */


/* Fidelity Experience */
.work1 {
    flex: 1 50%;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: left;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    padding: 40px 0 0 0;
}

.work1 h5 {
    margin-top: -15px;
    font-size: 16px;
}

.workText1 {
    color: #333333;
    font-family: Poppins, sans-serif;
    float: left;
    justify-content: center;
    height: auto;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

/* PVAMU Experience */
.work2 {
    flex: 1 50%;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: left;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    padding: 40px 0 0 0;
}

.work2 h5 {
    margin-top: -15px;
    font-size: 16px;
}

.workText2 {
    color: #333333;
    font-family: Poppins, sans-serif;
    float: left;
    justify-content: center;
    height: auto;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width: 50%;
    float: left;
    height: 450px;
}

.contentPicture {
    width: 50%;
    float: right;
    height: 450px;
  }

/* Tru by Hilton */
.work3 {
    flex: 1 50%;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: left;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    padding: 40px 0 0 0;
}

.work3 h5 {
    font-size: 16px;
    margin-top: -15px;
}

.workText3 {
    color: #333333;
    font-family: Poppins, sans-serif;
    float: left;
    justify-content: center;
    height: auto;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.fidelityIcon {
    width: 80px;
    height: auto;
    position: relative;
    margin-top: -105px;
    float: right;
    }

.pvamuIcon {
    width: 75px;
    height: auto;
    position: relative;
    margin-top: -100px;
    float: right;
    }

.truIcon {
    width: 75px;
    height: auto;
    position: relative;
    margin-top: -100px;
    float: right;
    }

@media screen and (min-width: 375px) and (max-width: 812px) {
.work1 h1 {
    line-height: 30px;
    }
.work2 h1 {
    line-height: 30px;
    }
.work3 h1 {
    line-height: 30px;
    }
.sectionTitle {
    font-size: 80px;
    }
.fidelityIcon {
    margin-top: -120px;
    margin-right: -23px;
}
.pvamuIcon {
    margin-top: -120px;
    margin-right: -20px;
}
.truIcon {
    margin-top: -120px;
    margin-right: -20px;
}
}