@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

.sectionProjects {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  font-weight: 500;
  color: #303030;
  letter-spacing: -4px;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.5em;
  pointer-events: none;
  margin-top: 180px;
  flex: 1 100%;
  padding-bottom: 10px;
  max-width: 208px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    #0400ff6c 60%
  );
  /* background: -webkit-linear-gradient(#ff0310, #6c61ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.sectionScholar {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  font-weight: 500;
  color: #303030;
  letter-spacing: -4px;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.5em;
  pointer-events: none;
  margin-top: 180px;
  flex: 1 100%;
  padding-bottom: 10px;
  max-width: 193px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    #ff004070 60%
  );
}
/* .work-hr1 {
    width: 4.5%;
    margin-top: 20px;
    color: black;
    text-align: left;
} */

.blog-text {
  margin-top: 280px;
  text-align: center;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* Fidelity Experience */
.work1 {
  flex: 1 50%;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: left;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  padding: 40px 0 0 0;
}

.work1 h5 {
  margin-top: -15px;
  font-size: 16px;
}

.workText1 {
  color: #333333;
  font-family: "Lato", sans-serif;
  float: left;
  justify-content: center;
  height: auto;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

/* PVAMU Experience */
.work2 {
  flex: 1 50%;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: left;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  padding: 40px 0 0 0;
}

.work2 h5 {
  margin-top: -15px;
  font-size: 16px;
}

.workText2 {
  color: #333333;
  font-family: "Lato", sans-serif;
  float: left;
  justify-content: center;
  height: auto;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 50%;
  float: left;
  height: 450px;
}

.contentPicture {
  width: 50%;
  float: right;
  height: 450px;
}

/* Tru by Hilton */
.work3 {
  flex: 1 50%;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: left;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  padding: 40px 0 0 0;
}

.work3 h5 {
  font-size: 16px;
  margin-top: -15px;
}

.workText3 {
  color: #333333;
  font-family: "Lato", sans-serif;
  float: left;
  justify-content: center;
  height: auto;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.fidelityIcon {
  width: 80px;
  height: auto;
  position: relative;
  margin-top: -105px;
  float: right;
}

.pvamuIcon {
  width: 75px;
  height: auto;
  position: relative;
  margin-top: -100px;
  float: right;
}

.truIcon {
  width: 75px;
  height: auto;
  position: relative;
  margin-top: -100px;
  float: right;
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .work1 h1 {
    line-height: 30px;
  }
  .work2 h1 {
    line-height: 30px;
  }
  .work3 h1 {
    line-height: 30px;
  }
  .sectionProjects {
    font-size: 55px;
    font-weight: 500;
  }
  .sectionScholar {
    font-size: 55px;
    font-weight: 500;
    margin-top: -40px;
  }
  .blog-title {
    margin-top: auto;
  }
  .blog-text {
    margin-top: 80px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
  }
}
